

/* .login-page{
  display: grid;
  grid-template-columns: auto;
} */

.light-mode{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */

  width: 100vw;
  height: 100vh;

  background: var(--first-color);
}

/*
form{
  width: 100%;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.form-container{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-field{

  width: 50%;
  height: 80%;
  
  /* margin-left: auto; */
  padding: 4rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(92, 99, 106, .2);
  background-color: var(--light-color);
}

.form-title{
  font-size: 2.2rem;
  color: var(--first-color);
  margin-bottom: 3rem;

  display: flex;
  justify-content: center;
  
}

.form-title .form-toggle{
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 50%;
  left: 0;

  margin-top: 8px;
}

.form-icon{
  margin-bottom: 5px;
}

.form-button{
  display: block;

  width: 150px;
  height: 49px;

  margin: 0 auto 10px;
  /* margin-right: auto; */
  /* padding: .75rem 2rem; */
  outline: none;

  background-color: var(--first-color);
  color: #fff;

  font-size: var(--normal-font-size);
  font-weight: 600;
  text-transform: uppercase;

  border-radius: 5rem;
  cursor: pointer;
  transition: .3s;

  border: none;
}

.form-button:hover{
  background-color: var(--first-color-ligth)
}

.social{

  height: 35%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.social-text{
  display: flex;
  justify-content: center;

  font-weight: 600;
  padding: .7rem 0;
  font-size: 1rem;
}

.social-midia{
  display: flex;
  justify-content: center;
}

.social-midia .social-icon{
  height: 46px;
  width: 46px;

  border: 1px solid #333;

  margin: 0 .45rem;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: #333;

  font-size: 1.1rem;

  border-radius: 50%;

  transition: .3s;
}
.social-midia .social-icon:hover{
  color: var(--first-color);
  border-color: var(--first-color);
}

/* checkbox */

input[type="checkbox"]{
  position: relative;

  width: 40px;
  height: 10px;

  -webkit-appearance: none;

  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  transition: .5s ease;
}

/* input:checked[type="checkbox"]{
  
} */
input[type="checkbox"]::before{
  content: '';
  position: absolute;

  width: 20px;
  height: 20px;

  border-radius: 20px;
  
  left: 0;
  top: -5px;

  background: #fff;
  transform: scale(1.1);
  transition: .5s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

input:checked[type="checkbox"]::before{
  left: 19px;
}

/* ------------------------------------------------------- */

/* dark mode */

.dark-mode{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */

  width: 100vw;
  height: 100vh;

  background: #282a36;
}

.dark-mode form{
  background: var(--dark-color);
  color: var(--input-dark-color);
}

.dark-mode .form-button{
  
  background-color: var(--border-dark-color);
  color: #282a36;
  
}
.dark-mode .form-button:hover{
  background-color: var(--border-dark-color-second);
}

/* --------------------------------------------- */

.login-image{
  max-width: 80%;
}