input{

    border: none;

    -webkit-appearance: none;
    -ms-appearence: none;
    -moz-appearance: none;
    appearance: none;

    background: #f2f2f2;

    padding: 12px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 2px solid #ddd;
    transition: border-color .3s ease;

    width: 250px;

}
.custom-field input:focus + .placeholder{
  top: 2px;
  font-size: 10px;
  color: #282c34;
}
